In [46]:
from binance import *
from ta import *

In [47]:
# plot_prices(['STX'], freq='1h')

In [48]:
symbol = 'BTC/USDT'
dict_df = get_dict_df(symbols=[symbol], freq='1h', columns=['close', 'open'])

dict_df = add_dict_df_emas(dict_df, lengths=[12, 21])

df = dict_df[symbol]



df_buys = df[df['Signal_EMA_12_21'] < 0]

# buys_prev_index = [x-pd.Timedelta('1h') for x in df_buys.index]
# df_buys_prev = df.loc[buys_prev_index]

# df_buys
# df_buys_prev['Relative_Distance_EMA_12_21'].hist(bins=50)

In [49]:
# 2024-01-04 15:00:00
# 2024-01-03 11:00:00

In [50]:
# # df_plot = df[['close', 'Signal_EMA_12_21']]

# # df_plot = df[['EMA_12', 'EMA_21']]

# df_plot = df[['Relative_Distance_EMA_12_21']]

# plot_df(df_plot)

In [51]:
investment = 1000
trades_prev = df[['open', 'close', 'Signal_EMA_12_21']].copy()

trades_prev['side'] = 0

trades_buys = trades_prev[trades_prev['Signal_EMA_12_21'] > 0]
trades_sell = trades_prev[trades_prev['Signal_EMA_12_21'] < 0]

buy_next_index = [x-pd.Timedelta('1h') for x in trades_buys.index]
sell_next_index = [x-pd.Timedelta('1h') for x in trades_sell.index]

trades_prev.loc[buy_next_index, 'side'] = 1
trades_prev.loc[sell_next_index, 'side'] = -1

trades_prev = trades_prev[trades_prev['side'] != 0]

trades_prev.drop(columns=['Signal_EMA_12_21', 'close'], inplace=True)

trades_prev

                         open  side
timestamp
2024-01-03 10:00:00  45344.66    -1
2024-01-04 14:00:00  43346.67     1
2024-01-05 15:00:00  43488.21    -1
2024-01-05 20:00:00  43600.00     1
2024-01-06 06:00:00  43698.72    -1
...                       ...   ...
2024-06-26 13:00:00  61431.47     1
2024-06-26 14:00:00  61760.00    -1
2024-06-27 12:00:00  61196.01     1
2024-06-28 12:00:00  61690.00    -1
2024-06-29 12:00:00  61102.33     1

[182 rows x 2 columns]

In [52]:
investment = 1000
trades_next = df[['open', 'close', 'Signal_EMA_12_21']].copy()

trades_next['side'] = 0

trades_buys = trades_next[trades_next['Signal_EMA_12_21'] > 0]
trades_sell = trades_next[trades_next['Signal_EMA_12_21'] < 0]

buy_next_index = [x+pd.Timedelta('1h') for x in trades_buys.index]
sell_next_index = [x+pd.Timedelta('1h') for x in trades_sell.index]

trades_next.loc[buy_next_index, 'side'] = 1
trades_next.loc[sell_next_index, 'side'] = -1

trades_next = trades_next[trades_next['side'] != 0]

trades_next.drop(columns=['Signal_EMA_12_21', 'close'], inplace=True)

trades_next

                         open  side
timestamp
2024-01-03 12:00:00  43702.89    -1
2024-01-04 16:00:00  44051.10     1
2024-01-05 17:00:00  43225.99    -1
2024-01-05 22:00:00  43946.26     1
2024-01-06 08:00:00  43653.20    -1
...                       ...   ...
2024-06-26 15:00:00  61728.13     1
2024-06-26 16:00:00  61467.85    -1
2024-06-27 14:00:00  61990.00     1
2024-06-28 14:00:00  61297.99    -1
2024-06-29 14:00:00  61102.98     1

[182 rows x 2 columns]

In [53]:
trades_prev['pnl'] = - trades_prev['side']*trades_prev['open']

pnl_prev = 2*trades_prev['pnl'].sum()-trades_prev['pnl'].iloc[0]-trades_prev['pnl'].iloc[-1]
pnl_prev

139448.9900000007

In [54]:
trades_next['pnl'] = - trades_next['side']*trades_next['open']

pnl_next = 2*trades_next['pnl'].sum()-trades_next['pnl'].iloc[0]-trades_next['pnl'].iloc[-1]
pnl_next

-1405.4100000000544

In [55]:
pnl_prev/pnl_next

-99.2229954248193

In [56]:
# pd.DataFrame().ta.indicators()

indicators_list = ['aberration', 'above', 'above_value', 'accbands', 'ad', 'adosc', 'adx', 'alma', 'amat', 'ao', 'aobv', 'apo', 'aroon', 'atr', 'bbands', 'below', 'below_value', 'bias', 'bop', 'brar', 'cci', 'cdl_pattern',
'cdl_z', 'cfo', 'cg', 'chop', 'cksp', 'cmf', 'cmo', 'coppock', 'cross', 'cross_value', 'cti', 'decay', 'decreasing', 'dema', 'dm', 'donchian', 'dpo', 'ebsw', 'efi', 'ema', 'entropy', 'eom', 'er', 'eri',
'fisher', 'fwma', 'ha', 'hilo', 'hl2', 'hlc3', 'hma', 'hwc', 'hwma', 'ichimoku', 'increasing', 'inertia', 'jma', 'kama', 'kc', 'kdj', 'kst', 'kurtosis', 'kvo', 'linreg', 'log_return', 'long_run', 'macd',
'mad', 'massi', 'mcgd', 'median', 'mfi', 'midpoint', 'midprice', 'mom', 'natr', 'nvi', 'obv', 'ohlc4', 'pdist', 'percent_return', 'pgo', 'ppo', 'psar', 'psl', 'pvi', 'pvo', 'pvol', 'pvr', 'pvt', 'pwma', 'qqe',
'qstick', 'quantile', 'rma', 'roc', 'rsi', 'rsx', 'rvgi', 'rvi', 'short_run', 'sinwma', 'skew', 'slope', 'sma', 'smi', 'squeeze', 'squeeze_pro', 'ssf', 'stc', 'stdev', 'stoch', 'stochrsi', 'supertrend',
'swma', 't3', 'td_seq', 'tema', 'thermo', 'tos_stdevall', 'trima', 'trix', 'true_range', 'tsi', 'tsignals', 'ttm_trend', 'ui', 'uo', 'variance', 'vhf', 'vidya', 'vortex', 'vp', 'vwap', 'vwma', 'wcp',
'willr', 'wma', 'xsignals', 'zlma', 'zscore']

# search = 'ema'

# for x in indicators_list:
#     if search in x:
#         print(x)

# help(ta.ema)